<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
        <title>Animaux en adoption</title>
    </head>

    <body>

        <header>
            <a href="index.html">acceuil</a>
            <a href="adopter.html">Adopter un animal</a>
            <a href="form.html">Faire adopter un animal</a>
            <a href="#a-propos">A propos</a>
        </header>

        <section id="presentation">
            <h1>Liste des animaux en adoption :</h1>
            
            {% for animal in animaux %}
            <a href="{{ url_for('animal', id=animal['id']) }}">

                <div class="animal-random">
                    
                    <h5>{{ animal['nom'] }}</h5>
                    <p>{{ animal['espece'] }}</p>
                    <p>{{ animal['description'] }}</p>

                </div>
            </a>
            {% endfor %}
        </section>

    </body>
</html>