<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pattopia </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <header>
            <h1>Pattopia</h1>
            <p>Trouves ton compagnon a quatres pattes parfait aujourd'hui !</p>
            <form id="search-form" action="/search" method="get">
                <input type="text" id="search-query" name="query" placeholder="Recherchez des animaux...">
                <button type="submit">Recherche</button>
            </form>
        </header>
        <nav>
            <a href="=/">">acceuil</a>
            <a href="/adopter">Adopter un animal</a>
            <a href="/form">Faire adopter un animal</a>
        </nav>

        <section id="presentation">
            <h1>Liste des animaux en adoption :</h1>
            
            {% for animal in animaux %}
            <div class="animal-card"></div>
            <img src="{{ animal['image_url'] or 'https://placehold.co/100x100' }}" alt="{{ animal['nom'] }}">
            <a href="{{ url_for('animal', id=animal['id']) }}">
                <div class="animal-random">
                    <h3>{{ animal['nom'] }}</h3>
                    <p>{{ animal['espece'] }}</p>
                    <p>{{ animal['description'] }}</p>
                </div>
            </a>
            {% endfor %}
        </section>

        <footer>
            <p>&copy;  2024 Centre Pattopia . Tous Les Droits Reserves.</p>
        </footer>

    </body>
</html>