<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pattopia </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Pattopia</h1>
            <p>Trouves ton compagnon a quatres pattes parfait aujourd'hui !</p>
            <form id="search-form" action="/search" method="get">
                <input type="text" id="search-query" name="query" placeholder="Recherchez des animaux...">
                <button type="submit">Recherche</button>
            </form>
        </header>
        <nav>
            <a href="=/">">acceuil</a>
            <a href="/adopter">Adopter un animal</a>
            <a href="/form">Faire adopter un animal</a>
        </nav>
        <section>
            <form id="contact">
                <h1>Contacter</h1>
                <fieldset>
                    <label for="nom">Votre nom :</label>
                    <input type="text" id="nom">
            
                    <label for="email">Email :</label>
                    <input type="text" id="email">
            
                    <label for="message">Message :</label>
                    <textarea type="text" id="message" required></textarea>
            
                    <button type="submit" id="bouton">Envoyer</button>
                </fieldset>
            </form>
        </section>
        <footer>
            <p>&copy;  2024 Centre Pattopia . Tous Les Droits Reserves.</p>
        </footer>
    </body>
</html>
