<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pattopia </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Pattopia</h1>
            <p>Trouves ton compagnon a quatres pattes parfait aujourd'hui !</p>
            <form id="search-form" action="/search" method="get">
                <input type="text" id="search-query" name="query" placeholder="Recherchez des animaux...">
                <button type="submit">Recherche</button>
            </form>
        </header>
        <nav>
            <a href="=/">">acceuil</a>
            <a href="/adopter">Adopter un animal</a>
            <a href="/form">Faire adopter un animal</a>
        </nav>

        <main>
            <div id="resultats-recherches">
                {% if animals %}
                    {% for animal in animals %}
                        <div class="animal-card">
                            <h2>{{ animal.nom }}</h2>
                            <p>{{ animal.description }}</p>
                            <a href="/animal/{{ animal.id }}">Détails</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-results-message">
                        Aucun animal trouvé correspondant à vos critères de recherche.
                    </div> 
                {% endif %}
            </div>
        </main>

        <footer>
            <p>&copy;  2024 Centre Pattopia . Tous Les Droits Reserves.</p>
        </footer>

    </body>
</html>